# Requirements for research and training
backoff
boto3==1.*
datasets
jupyter
langdetect
pandas==2.*
peft
pytest
psycopg2
scikit-learn==1.8.*
seaborn
spacy==3.*
sqlalchemy
textacy
tqdm
transformers==4.*
torch==2.10.*
wandb